.game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;
    }

.title{
    background: rgb(224, 87, 140);
    padding: 5px 0;
    margin: 5px 0;

}

span{
    color:rgb(48, 0, 37);
}

.square{

    width: 80px;
    height: 80px;
    background: rgb(224, 87, 140);
    float:left;
    margin: 2px;
    font-size: 50px;


}

.square:hover{

    background: rgb(85, 18, 44) ;
    cursor:pointer;
}